# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*build*/
*dist*/
*.egg-info/
*.spec

# Virtual Environment
# Use the name of your virtual environment directory
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and editor configuration files
.vscode/
.idea/
*.swp
*.swo

# Secrets and configuration
.env

# Input and Output Files
/split_pages/
*.pdf
*.csv
*.log

# Operating System files
.DS_Store
Thumbs.db